<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
        <div class="username">{{ username }}</div>
      </ion-button>
    </ion-buttons>

    <ion-title slot="end" size="large">
      Level
    </ion-title>
    
    <ion-list slot="end" color="primary">
      <ion-item color="primary">
        <ion-select color="primary" [(ngModel)]="selectedLevel">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <div class="points">
    <h3><b>Points: {{ points }}</b></h3>
  </div>

  <div class="question" *ngIf="initGame">
    <h3><b>Click the play button to start a new game</b></h3>
  </div>

  <div class="question" *ngIf="memorizeCards">
    <h2><b>Memorize the cards</b></h2>
  </div>

  <div class="question" *ngIf="showTarget">
    <h2><b>Where is the number {{ targetNumber }}?</b></h2>
  </div>

  <div class="time-remaining" *ngIf="showTarget && !gameOver">
    <h3>Time Remaining: {{ timeRemaining }}s</h3>
  </div>

  <div  class="game-message" *ngIf="gameOver">
    <p [innerHTML]="gameMessage"></p>
  </div>

  <div class="grid" *ngIf="gameStarted">
    <ion-button *ngFor="let card of cards"
                (click)="selectCard(card)"
                [color]="card.color"
                [disabled]="card.disabled"
                class="grid-button">
      {{ card.showValue ? card.value : '?' }}
    </ion-button>
  </div>

  <div class="play-button-container">
    <ion-button expand="block"
                class="play-button"
                (click)="startMemoryGame()"
                *ngIf="!gameStarted || gameOver">PLAY</ion-button>
  </div>
</ion-content>
